@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@await Component.InvokeAsync("Timer", new { includeSeconds = true, format24 = false })
<vc:timer include-seconds="false" format24="true"></vc:timer>
@await Component.InvokeAsync("Header") 